// Point to the main script in the repository
manifest.mainScript = 'midas_workflow.nf'

// Set up the resources needed for each step in different profiles
// the 'standard' profile is run by default, while the 'testing'
// profile can be invoked by adding `-profile testing` at runtime
profiles{
    standard {
        process {
            withLabel: 'io_limited' {
                cpus = { 1 * task.attempt }
                memory = { 2.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_medium' {
                cpus = { 4 * task.attempt }
                memory = { 30.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_veryhigh' {
                cpus = { 16 * task.attempt }
                memory = { 120.GB * task.attempt }
                maxRetries = 3
            }
        }
    }
    testing {
        process {
            executor = 'local'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 1
                memory = 6.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}
